@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

body {
   /* background-color: #57477b; */
    /* background-color: #F3F1F3; */
    background-color: #4342F4;
    background-color: rgb(67, 66, 244);

    margin: 0;
}

nav #mainMenu {
    height: 105vh;
    width: 70%;
    top: -18px;

    position: fixed;

    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    background-color: rgba(67, 66, 244, 0.9);
    

    z-index: 1;

    transition: all 1.5s ease 0s;
}

.current {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: #F18F01;
}

nav #mainMenu #closeMenu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;

    cursor: pointer;
    font-size: 3rem;
    color: #fff;

    transition: color .2s;
}

nav #openMenu {
    font-size: 3rem;
    cursor: pointer;
    margin: 1rem;
    display: block;
    color: #fff;
    width: 15px;

    transition: color .2s;
}

nav #mainMenu li {
    list-style-type: none;
    margin-bottom: 4rem;
}

nav #mainMenu li a {
    font-size: 3rem;
    text-decoration: none;
    transition: color .2s;
    color: #fff;

}

nav #mainMenu .redes a {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-right: 2rem;
}

nav #mainMenu li a:hover {
    color: #F18F01;
}

nav #openMenu:hover {
    color: #F18F01;
}

nav #mainMenu #closeMenu:hover {
    color: #F18F01;
}

main {
    max-width: 350px;
    margin: auto;
    padding-top: 4rem;
    color: #fff;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
}

main h2 {
    text-align: center;
    font-size: 2rem;
}

main p {
    font-size: 1.4rem;
    text-align: center;
}

main p .spotify {
    color: #1ED760;
}

main p .youtube {
    color: red;
}

.podcast {
    max-width: 350px;
    margin: auto;
    padding-top: 3rem;
    color: #fff;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;
}

.podcast h2 {
    text-align: center;
}

.podcast p {
    font-size: 1.1rem;
    margin-bottom: 10rem;
}

.podcast p a {
    text-decoration: none;
    transition: all .2s;
    color: #fff;
}

.podcast p a:hover {
    color: #F18F01 ;
}

.podcast img {
    width: 8rem;
    margin-left: 2rem;
}

.podcast .span-link a {
    text-decoration: underline;
}

.podcast .span-link i {
    color: #000;
    background-color: #fff;
    padding: 0.2rem;
}

.about {
    max-width: 350px;
    margin: auto;
    color: #fff;
}

.about h1 {
    font-size: 2.5rem;
    text-align: center;
}

.about p {
    font-size: 1.4rem;
    margin: 0;
}

.about p span {
    color: #F18F01;
    text-decoration: underline;
}

.email {
    max-width: 350px;
    margin: auto;
    padding-top: 7rem;
    color: #fff;
}

.email h2 {
    text-align: center;
}

.email p {
    font-size: 1.4rem;
}

.email form #emailId {
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.email #emailId:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #F18F01;
    text-decoration: none;
}

.email form button {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4342F4;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
    padding: 1rem;
    transition: all .2s;
}

.email form button:hover {
    background-color: transparent;
    color: #fff;
}

.categorias {
    max-width: 350px;
    margin: auto;
    padding-top: 4rem;
    color: #fff;
}

.categorias ul {
    list-style-type: none;
}

.categorias ul li a {
    color: #fff;
    transition: all .2s;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.4rem;
}

.categorias ul li a:hover {
    color: #F18F01;
}

@media (min-width: 700px) {

    nav #mainMenu {
        width: 50%;
    }

    main {
        max-width: 1000px;
    }

    main h1 {
        text-align: center;
        font-size: 3.5rem;
    }

    .podcast {
        max-width: 1000px;
    }
    
    .podcast p {
        font-size: 1.5rem;
        margin-bottom: 10rem;
    }
    
    .podcast img {
        width: 10rem;
        margin-left: 10rem;
    }
    
    .about {
        max-width: 1000px;
        margin-bottom: 2rem;
    }

    .about p {
        font-size: 1.5rem;
        text-align: center;
    }

    .email {
        max-width: 1000px;
        margin-bottom: 2rem;
    }

    .categorias {
        max-width: 1000px;
    }

    .cursor {
        position: absolute;
        background-color: #CE8964;
        opacity: 1;
        height: 28px;
        width: 28px;
        top: 50%;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        z-index: 1;
        pointer-events: none; /* Possibilita que você consiga clicar sobre buttons, links e dentre outros */
    }

    .cursor.active {
        animation: click .7s ease;
    }

    @keyframes click {
        100% {
            transform: translate(-50%, -50%) scale(2);
            opacity: 0;
        }

        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }
}
